[submodule "frontend"]
	path = frontend
	url = https://github.com/macolby14/innersanctuaryfitness.com/frontend
[submodule "backend"]
	path = backend
	url = https://github.com/macolby14/innersanctuaryfitness.com/backend
